{% extends 'base.html.twig' %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6"><a href="{{ path('app_index') }}">Retour</a> </div>
    </div>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row mt-3 justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-success">{{ flashMessage }}</div>
            </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center">

    <div class="col-md-6">
        {{ form_errors(form) }}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="row mt-3">
            <div class="col-md">
                {{ form_row(form.nom) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md"><button type="submit" name="buttonUser" class="btn btn-primary">Enregistrer</button></div>
        </div>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}